[submodule "thirdparty/libusb"]
	path = thirdparty/libusb
	url = https://github.com/libusb/libusb.git
[submodule "thirdparty/hidapi"]
	path = thirdparty/hidapi
	url = https://github.com/signal11/hidapi.git
[submodule "thirdparty/PS4-Eye-Driver"]
	path = thirdparty/PS4-Eye-Driver
	url = https://github.com/Armada651/PS4-Eye-Driver.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "thirdparty/SDL2"]
	path = thirdparty/SDL2
	url = https://github.com/spurious/SDL-mirror.git
[submodule "thirdparty/eigen"]
	path = thirdparty/eigen
	url = https://github.com/RLovelett/eigen.git
[submodule "thirdparty/kalman"]
	path = thirdparty/kalman
	url = https://github.com/mherb/kalman.git
[submodule "thirdparty/Configuru"]
	path = thirdparty/Configuru
	url = https://github.com/emilk/Configuru.git
[submodule "thirdparty/PS3EYEDriver"]
	path = thirdparty/PS3EYEDriver
	url = https://github.com/zelmon64/PS3EYEDriver.git
	branch = set_resolution
